# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
target/web-commodity/EasyUI/jquery.min.js
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_1_41.xml
*.iml
*.js
*.class
*.jar
*.gif
*.jpg
*.war
*.sql
*.MF
*.properties
*.log
*.properties
*.lst
src/main/resources/jdbc.properties
src/main/resources/jdbc.properties
target/web-commodity/bootstrap/fonts/glyphicons-halflings-regular.eot
target/web-commodity/bootstrap/fonts/glyphicons-halflings-regular.ttf
target/web-commodity/bootstrap/fonts/glyphicons-halflings-regular.svg
target/web-commodity/bootstrap/css/bootstrap.min.css.map
target/web-commodity/bootstrap/css/bootstrap.css.map
target/web-commodity/bootstrap/css/bootstrap-theme.min.css.map
target/web-commodity/bootstrap/css/bootstrap-theme.css.map
target/web-commodity/bootstrap/fonts/glyphicons-halflings-regular.woff
target/web-commodity/bootstrap/fonts/glyphicons-halflings-regular.woff2
target/web-commodity/images/favicon.ico
